<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="App con menú"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme._20230926_AppMensajeria"
        tools:targetApi="31">
        <activity
            android:name="com.csantamaria.appConMenu.imcApp.ResultActivity"
            android:exported="true" />
        <activity
            android:name="com.csantamaria.appConMenu.imcApp.ImcCalculator"
            android:exported="true" />
        <activity
            android:name="com.csantamaria.appConMenu.MenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.csantamaria.appConMenu.messageApp.RecibirMensaje"
            android:exported="false" />
        <activity
            android:name="com.csantamaria.appConMenu.messageApp.EnviarMensaje"
            android:exported="true" />
        <activity
            android:name="com.csantamaria.appConMenu.helloApp.EscribirTexto"
            android:exported="true" />
        <activity
            android:name="com.csantamaria.appConMenu.helloApp.MostrarTexto"
            android:exported="true" />
    </application>

</manifest>